@model IEnumerable<HockeyTeams.Models.Team>
@{
    ViewData["Title"] = "Index";
}
<h2>@ViewData["BaseMessage"]</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Location)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Division)</th>
            <th>@Html.DisplayNameFor(model => model.Conference)</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Location)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Division)</td>
                <td>@Html.DisplayFor(modelItem => item.Conference)</td>
                <td><a asp-action="IndividualTeam" asp-route-id="@item.Id">View</a></td>
            </tr>
        }
    </tbody>
</table>